<form method="post" action="{{ path('app_profesores_delete', {'id': profesor.id}) }}" onsubmit="return confirm('¿Estás seguro de eliminarlo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profesor.id) }}">
    <button button style="background-color:red" class="btn btn-primary">Eliminar</button>
</form>
