{% extends 'base.html.twig' %}

{% block title %}Nuevo Profesor{% endblock %}

{% block body %}
<div class = "container p-4">
    <h1>Ingresar un Profesor</h1>

    <a {{ include('profesores/_form.html.twig') }} </a>

    <a href="{{ path('app_profesores_index') }}"<button type="button" class="btn btn-primary">Volver a la Lista</button></a>
</div>
{% endblock %}
