{% extends 'base.html.twig' %}

{% block title %}Editar Alumno{% endblock %}

{% block body %}
<div class = "container p-4">
    <h1>Editar Alumno</h1>
    <table>
        <a>{{ include('alumnos/_form.html.twig', {'button_label': 'Guardar'}) }}</a>

        <a href= "{{ path('app_alumnos_index') }}"><button type="button" class="btn btn-primary">Volver a la Lista</button></a>
        
        {{ include('alumnos/_delete_form.html.twig') }} {#este boton esta pegado al anterior#}
    </table>    
    
</div>
{% endblock %}