<form method="post" action="{{ path('app_materias_delete', {'id': materia.id}) }}" onsubmit="return confirm('¿Estás seguro de eliminarlo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materia.id) }}">
    <button button style="background-color:red" class="btn btn-primary">Eliminar</button>
</form>
